# Prevent committing sensitive secrets and API keys
.env*
*.key
*.keystore
*.jks
local.properties
google-services.json

# Build & dependency directories
node_modules/
build/
dist/
bin/
gen/
out/

# System / Cache
.DS_Store
.gradle/
